@using EntityLayer.Concrete
@model List<Portfolio>
<div class="row ">
              <div class="col-12 grid-margin">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Order Status</h4>
                    <div class="table-responsive">
                      <table class="table">
                        <thead>
                          <tr>
                            <th>  #         </th>
                            <th>Ana Görsel</th>
                            <th> Proje Adı </th>
                            <th> URL </th>
                            <th> Fiyat </th>
                            <th> Tamamlanma </th>
                            <th> Durum </th>
                           
                          </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                          <tr>
                            <td>@item.PortfolioID</td>
                            <td>@item.ImageUrl</td>
                            <td> @item.Name </td>
                            <td><img src="@item.ImageUrl"/></td>
                            <td>@item.ProjectUrl </td>
                            <td> @item.Price </td>
                            <td> % @item.Value </td>
                            <td> </td>
                            <td>
                                <a href="/portfolio/EditPortfolio/@item.PortfolioID">
                              <div class="badge badge-outline-success"> Detayları Gör</div></a>
                            </td>
                          </tr>
                          }
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>