@using EntityLayer.Concrete
@model List<Skill>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}
<!-- Card header -->
<div class="card-header border-0">
    <h3 class="mb-0">Yetenek Listesi</h3>
</div>
<!-- Light table -->
<div class="table-responsive">
    <table class="table align-items-center table-flush">
        <thead class="thead-light">
            <tr>
                <th scope="col" class="sort" data-sort="name">#</th>
                <th scope="col" class="sort" data-sort="budget">Başlık</th>
                <th scope="col" class="sort" data-sort="status">Oran</th>
                <th scope="col">Sil</th>
                <th scope="col" class="sort" data-sort="completion">Düzenle</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody class="list">

            @foreach (var item in Model)
            {
                <tr>
                    <th>
                        @item.SkillID
                    </th>
                    <td class="budget">
                        @item.Title
                    </td>


                    <td>
                        <div class="d-flex align-items-center">
                            <span class="completion mr-2">@item.Value%</span>
                            <div>
                                <div class="progress">
                                    <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="@item.Value" aria-valuemin="0" aria-valuemax="100" style="width: @item.Value%"></div>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td><a href="/skill/DeleteSkill/@item.SkillID" class="btn btn-danger"> Sil </a></td>
                    <td><a href="/skill/EditSkill/@item.SkillID" class="btn btn-success"> Düzenle </a></td>

                </tr>
            }
        </tbody>
    </table>
    
    <a href="/skill/AddSkill/" class="btn btn-primary">Yeni Yetenek Ekle</a>
</div>
<!-- Card footer -->

<script src="~/corona-free-dark-bootstrap-admin-template-1.0.0/template/assets/vendors/js/vendor.bundle.base.js"></script>