@model EntityLayer.Concrete.WriterMessage
@{
    ViewData["Title"] = "AdminMessageDetails";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}

    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <p class="card-description"> Mesaj Detay Sayfası </p>
                <form class="forms-sample">
                    <div class="form-group">
                        <label>#</label>
                       @Html.TextBoxFor(x=>x.WriterMessageID, new {@class="form-control"})
                    </div>
                    <div class="form-group">
                        <label>Başlık</label>
                        @Html.TextBoxFor(x=>x.Subject, new {@class="form-control"})
                    </div>
                    <div class="form-group">
                        <label>Gönderen</label>
                        @Html.TextBoxFor(x=>x.SenderName, new {@class="form-control"})
                    </div>
                     <div class="form-group">
                        <label>Alıcı</label>
                        @Html.TextBoxFor(x=>x.ReceiverName, new {@class="form-control"})
                    </div>
                    <div class="form-group">
                        <label>Tarih</label>
                        @Html.TextBoxFor(x=>x.Date, new {@class="form-control"})
                    </div>
                    <div class="form-group">
                        <label>Mesaj</label>
                        @Html.TextAreaFor(x=>x.MessageContent,6,3, new {@class="form-control"})
                    </div>
                    <a asp-action="ReceiverMessageList" class="btn btn-primary mr-2">Admin Gelen Mesajlar</a>
                   <a asp-action="SenderMessageList" class="btn btn-warning mr-2">Admin Giden Mesajlar</a>
                </form>
            </div>
        </div>
    </div>

